body {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #f8f9fc;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  margin-top: 15%;
}

h1 span {
  color: #0078d7;
}
